
<div class="container row">
<div class="jumbotron col-sm-4 pull-center">
<form action="/register" method="get">
	<input class="btn btn-primary" type="submit" value="Register"/>
</form>
<form action="/login" method="get">
	<input class="btn btn-primary" type="submit" value="Log In"/>
</form>
</div>          
</div>